[submodule "alacritty"]
	path = alacritty
	url = ./alacritty/
[submodule "fastfetch"]
	path = fastfetch
	url = ./fastfetch/
[submodule "nvim"]
	path = nvim
	url = https://github.com/flin16/nvim
[submodule "tmux"]
	path = tmux
	url = ./tmux/
[submodule "yazi"]
	path = yazi
	url = ./yazi/
